# .gitlab-ci.yml
stages:
  - build
  - test
  - package

variables:
  MAVEN_CLI_OPTS: "-B -s .m2/settings.xml --batch-mode"

cache:
  paths:
    - .m2/repository

before_script:
  - echo "Using Java version:"
  - java -version
  - echo "Using Maven version:"
  - mvn -version

build:
  stage: build
  image: maven:3.9.2-eclipse-temurin-21
  script:
    - mvn $MAVEN_CLI_OPTS clean compile
  artifacts:
    paths:
      - target/

test:
  stage: test
  image: maven:3.9.2-eclipse-temurin-21
  script:
    - mvn $MAVEN_CLI_OPTS test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml

package:
  stage: package
  image: maven:3.9.2-eclipse-temurin-21
  script:
    - mvn $MAVEN_CLI_OPTS package
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 week
